<div class="container">
  <a class="btn btn-primary m-2" routerLink="/destinos">Viajar <i class="bi bi-airplane-fill"></i></a>
  <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingresa tu número de cedula para consultar tus tickets</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <input type="text" formControlName="cedula" class="inputcito form-control">
          </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="mt-2 btn btn-primary" 
            data-bs-dismiss="modal" (click)="consultarMisTickets()">Consultar</button>
    </div>
</div>
  <br><br><br>
  <table class="table mt-2" style="background-color: #dfdddd73;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th style="text-align: center;" scope="col">Descripcion:</th>
        <th scope="col">Estado</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets; let i = index">
        <th scope="row">{{ (i + 1) + (page * 8) }} </th>
        <td style="text-align: center;">{{ ticket.observacion }}</td>
          <td>{{ ticket.status== "A"? "Aprobado" : "Denegado" }} </td>
        <td>
          <div class="d-flex gap-2 ">
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-confirmacion"
              (click)="obtenerTicket(ticket)">Cancelar ticket <i class="bi bi-exclamation-circle"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>


  <app-modal-confirm [entidadAEliminar]="ticketSeleccionado" [tipoEntidad]="ticketString"
    (eliminarEntidad)="delete($event)"></app-modal-confirm>
  <br>
</div>