<div class="container">
  <button class="btn btn-primary m-2" data-bs-toggle="modal"
    data-bs-target="#modal-nuevoUsuario">Agregar nuevo <i class="bi bi-bus-front"></i></button>
  <br>
  <table class="table mt-2" style="background-color: #dfdddd73;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Placa</th>
        <th scope="col">Modelo y año</th>
        <th scope="col">Capacidad</th>
        <th scope="col">Estado:</th>
        <th scope="col" >Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bus of buses; let i = index">
        <th scope="row">{{ (i + 1) + (page * 8) }} </th>
        <td>{{ bus.placa }}</td>
        <td>{{ bus.marca }} {{ bus.model }} </td>
        <td>{{ bus.capacidad }} asientos</td>
        <td>{{ bus.status == "A"? "Activo":"Inactivo" }}</td>
        <td >
          <div class="d-flex gap-2 ">
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-confirmacion"
              (click)="obtenerBus(bus)"><i class="bi bi-trash-fill"></i></a>
            <a class="btn btn-warning" (click)="obtenerBusId(bus)"><i class="bi bi-pencil-fill"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <ul class="pagination">
      <li class="page-item">
        <button [disabled]="(page==0)" (click)="lastPage()" class="page-link"><i
            class="bi bi-chevron-double-left"></i></button>
      </li>
      <li class="page-item" *ngFor="let pageSelected of totalPages; let i = index">
        <a (click)="setpage(i)" class="page-link">{{i+1}}</a>
      </li>
      <li class="page-item">
        <button [disabled]="(page==this.totalPages?.length! - 1 )" (click)="nextPage()" class="page-link"><i
            class="bi bi-chevron-double-right"></i></button>
      </li>
    </ul>
  </div>

  <app-nuevo-bus (busGuardado)="onBusGuardado()"></app-nuevo-bus>

  <app-modal-confirm [entidadAEliminar]="busSeleccionado" [tipoEntidad]="busString" (eliminarEntidad)="delete($event)"></app-modal-confirm>
  <br>
</div>