<div class="container">

    <section class="d-flex align-items-center justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 flex-column align-items-center justify-content-center">

            <div class="card mb-3">
              <div class="card-body">
                <legend class="text-center header">Editar viaje</legend>
                <form (ngSubmit)="guardar()" [formGroup]="form">
                  <div class="form-floating mb-3">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" formControlName="destino"  placeholder="Destino" required>
                      <label class="form-label">Destino</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" formControlName="observacion"  placeholder="Observacion" required>
                      <label class="form-label">Descripcion</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" formControlName="precio"  placeholder="Precio" required>
                      <label class="form-label">Precio</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="date" class="form-control" formControlName="ida" placeholder="ida" required>
                      <label for="input-marca" class="form-label">Fecha de salida:</label>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>