<button class="btn btn-primary m-2" data-bs-toggle="modal"
  data-bs-target="#modal-nuevoUsuario">Agregar nuevo <i class="bi bi-person-add"></i></button>
<div class="container" style="background-color: #dfdddd73;">
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Identificación</th>
        <th scope="col">Roles</th>
        <th scope="col">Estado</th>
        <th scope="col" >Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios; let i = index">
        <th scope="row">{{ (i + 1) + (page * 8) }} </th>
        <td>{{ usuario.firstname }} {{usuario.lastname }}</td>
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.ci }}</td>
        <td *ngFor="let rol of usuario.roles">{{ rol.name == "ROLE_MODERATOR"? "Moderador":(rol.name ==
          "ROLE_USER"?"Usuario":"Administrador") }}</td>
        <td>{{ usuario.status == "A"? "Activo" : "Inactivo" }}</td>
        <td >
          <div class="d-flex gap-2 ">
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-confirmacion"
              (click)="obtenerUsuario(usuario)"><i class="bi bi-trash-fill"></i></a>
            <a class="btn btn-warning" (click)="obtenerUsuarioId(usuario)"><i class="bi bi-pencil-fill"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <ul class="pagination">
      <li class="page-item">
        <button [disabled]="(page==0)" (click)="lastPage()" class="page-link"><i
            class="bi bi-chevron-double-left"></i></button>
      </li>
      <li class="page-item" *ngFor="let pageSelected of totalPages; let i = index">
        <a (click)="setpage(i)" class="page-link">{{i+1}}</a>
      </li>
      <li class="page-item">
        <button [disabled]="(page==this.totalPages?.length! - 1 )" (click)="nextPage()" class="page-link"><i
            class="bi bi-chevron-double-right"></i></button>
      </li>
    </ul>
  </div>

  <app-nuevo-usuario (usuarioGuardado)="onUsuarioGuardado($event)"></app-nuevo-usuario>

  <app-modal-confirm [idUsuarioAEliminar]="usuarioSeleccionado" (eliminarUsuario)="delete($event)"></app-modal-confirm>
  <br>
</div>